<div class="status-effects">
    {{#each effects}}
    <div class="effect-control {{cssClass}}" data-status-id="{{id}}" data-tooltip="{{title}}">
        <img src="{{src}}" />
    </div>
    {{/each}}
</div>
